* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  min-height: 100vh;
}

.left {
  position: fixed;
  width: 50%;
  left: 0;
  height: 100%;
  color: rgb(16, 224, 34);
  /*background-image: linear-gradient(120deg, #cc0000, #006699);*/
  background-color: black;
}

.leftup {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
}

.right {
  position: fixed;
  width: 50%;
  left: 50%;
  height: 100%;
  background-color: #fff9db;
}

.leftbot {
  position: fixed;
  bottom: 0;
  height: 30%;
  width: 50%;
  background-color: whitesmoke;
}
.description {
  width: 100%;
  height: 20px;
  background-color: white;
  font-weight: bold;
  color: darkgreen;
  box-shadow: 0 0 rgba(0, 0, 0, 0.75);
}

.rightbot {
  position: fixed;
  bottom: 0;
  height: 60%;
  width: 50%;
  background-color: whitesmoke;
}

.rightup {
  overflow: scroll;
  height: 40%;
  align-content: center;
  background-color: whitesmoke;
}

.rightup > .inner {
  display: inline-grid;
}

.pair {
    position: relative;
    height: 30px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: transparent;
    perspective: 1000px;
}

.inner:hover .pair{
  transform: rotateY(186deg);
}

.front, .back{
  position: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front{
  background-color: white;
  color: black;
  font-family: "Roboto Mono", monospace;
  background-color: whitesmoke;
  border: 4px solid;
  border-color: darkgreen #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
  color: black;
}

.back{
  color: black;
  transform: rotateY(180deg);
}

.methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comButton,
.comInput {
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.comButton {
  color: green;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

.comButton:hover {
  background: green;
  color: white;
}

.number {
  width: 4rem;
  height: 33px;
}
